.brands_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
     "a b c d"
     "e b f d"
     "e g f h"
    ;
    gap: 10px;
}
.brand_item:nth-child(1){
    grid-area: a;
    background-color: #67B43733;
}
.brand_item:nth-child(2){
    grid-area: b;
    background-color: #034EA21A;
}
.brand_item:nth-child(2) > img{
   scale: 3;
}
.brand_item:nth-child(3){
    grid-area: c;
    background-color: #00439C1F;
}
.brand_item:nth-child(4){
    grid-area: d;
    background-color: #FF670033;
}
.brand_item:nth-child(5){
    grid-area: e;
    background-color: #0000001A;
}
.brand_item:nth-child(6){
    grid-area: f;
    background-color: #006DB833;
}
.brand_item:nth-child(7){
    grid-area: g;
    background-color: #FF1A1F33;
}
.brand_item:nth-child(8){
    grid-area: h;
    background-color: #EBEFF3;
    
}