@import "tailwindcss";

*{
    box-sizing: border-box;
}
.containers{
    max-width: 1185px;
    margin:  0 auto;
}

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/roboto-v47-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/roboto-v47-latin-600.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/roboto-v47-latin-700.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/fonts/roboto-v47-latin-900.woff2') format('woff2'); 
  }
.skelton{
  width: 100px;
  height: 1rem;
  border-radius: 4px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s infinite;
}
.searchDivsmall{
    display: none;
}

@keyframes loadingAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


  @media (max-width:990px) {
    .searchDiv{
      display: none;
    }
    .searchDivsmall{
      display: flex;
  }
}

@media (max-width:431px) {
  .searchDivsmall{
    display: flex;
    flex-direction: column-reverse !important;
  }
  .mobileSearchBtn{
     width: 100%;
  }
}

@media (max-width:350px) {
  .phoneNumberMobile{
     display: none;
  }
}