.category_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
    "a a b c"
    "d e e  f"
    ;
    gap: 10px;
}

.category_item:nth-child(1){
    grid-area: a;
    background-color: #5C4F8C;
}
.category_item:nth-child(2){
    grid-area: b;
    background-color: #797C7D;
}
.category_item:nth-child(3){
    grid-area: c;
    background-color: #A1D7F3;
}
.category_item:nth-child(4){
    grid-area: d;
    background-color: #A1D7F3;
}
.category_item:nth-child(5){
    grid-area: e;
    background-color: #544F4B;
}
.category_item:nth-child(6){
    grid-area: f;
    background-color: #B0B0B0;
}

@media (max-width:980px) {
    .category_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "a a"
        "b d"
        "c c"
        "e f"
        !important;
        gap: 5px;
    }
}
@media (max-width:416px) {
    .category_btn{
        font-size: 12px;
    }
}